// ==== Variables ====
$bg-color: #1D1D1D;
$text-color: white;

// $mono-font: 'Inconsolata', monospace;
$mono-font: 'Fire Code', monospace;

// ====== Header ======
$header-opacity: 0.6;
$header-blur-amount: 10px;


// ====== Home ======
$border-radius: 8px;


// ====== Mobile ======
$mobile-menu-bg: #555;



// ====== Responsive ======
$mobile-width: 768px;

// ====== Project Page ======
$light-text-color: #ddd;
$medium-text-color: #999;
$border-top-color: #333;