// ==== Variables ====
$bg-color: #1D1D1D;
$text-color: white;


// ====== Header ======
$header-opacity: 0.6;
$header-blur-amount: 10px;


// ====== Mobile ======
$mobile-menu-bg: #555;



// ====== Responsive ======
$mobile-width: 768px;