// ==== Variables ====
$bg-color: #1D1D1D;
// $text-color: white;

$light-text-color: #ddd;
$medium-text-color: #999;
$border-top-color: #333;


$green-color: #08fdd8;
$red-color: #FD2155;

$inner-wrapper-width: 80%;
$page-margin-top-bottom: 5rem;

// $mono-font: 'Inconsolata', monospace;
$mono-font: 'Fire Code', monospace;


$svg-transition-time: 0.25s;


// ====== Header ======
$header-opacity: 0.6;
$header-blur-amount: 10px;

$color-spread: 2px;

// ====== Home ======
$border-radius: 8px;
$border-color: $medium-text-color;


// ====== Project Single ======
$border-top-color: #333;


// ====== Blogs ======
$card-gradient-dark-opacity: rgba(0,0,0,0.8);


// ====== Mobile ======
$mobile-menu-bg: #555;

$mobile-menu-border-radius: 4px;

// ====== Responsive ======
$mobile-width: 800px;
$tablet-width: 1024px;
// ====== Project Page ======







// ====== Animations ======
.fade-in-scroll {
    animation: fade-in 1s forwards;
    animation-delay: 0.2s;
}


@keyframes fade-in {
    100% {
        opacity: 1;
    }
}



// z-index reference

// 10 home page icons and email 
// 99 blur-layey