header {
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;


    .logo {
        font-weight: bold;
        font-size: 2rem;
        padding: 0.8rem 1rem;
    }

    ul {
        display: flex;
        justify-content: space-between;
    }

    li {
        list-style: none;
    }

    a {
        padding: 1rem;
        transition: color 0.2s;

        &:hover {
            color: red;
        }
    }

    .menu-btn {
        
        display: none;
    }
}

.open-nav {
    transform: translateX(0);
}

// ====== Desktop: screen size greater than 800px wide ======
@media only screen and (max-width: 800px) {
    body {
        background: black;
    }

    header {
        .menu-btn {
            display: block;
            width: 2rem;

            cursor: pointer;
        }
    }
    

    nav {
        background: green;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50%;

        transform: translateX(95%);

        

    }
}