
.home {
    width: $inner-wrapper-width;
    max-width: 800px;
    margin: 0 auto;


    .hero {
        height: 100vh;
        // border: 1px solid #222;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hi {
        font-family: 'Fira Code';
        color: $green-color;
        font-size: 1.2rem;
        padding-left: 4px;

        border-left: 1px solid $border-color;
        border-top: 1px solid $border-color;
        align-self: flex-start;
    }

    .name {
        // fluid size scales with window width but stays within 20-80px
        font-size: clamp(20px, 8vw, 80px);

        font-family: Calibre, sans-serif;
        // font-weight: light;

        align-self: center;
        position: relative;
        margin-top: 2.6rem;
        

        // &::before {
        //     content: "Quentin McKay";
        //     position: absolute;
        //     top: -$color-spread;
        //     left: -$color-spread;
        //     color: $green-color;
        //     z-index: -1;
        // }

        // &::after {
        //     content: "Quentin McKay";
        //     position: absolute;
        //     bottom: -$color-spread;
        //     right: -$color-spread;
        //     color: $red-color;
        //     z-index: -2;
        // }
    }

    .under-name {
        color: $red-color;
        font-family: 'Fira Code';
        font-size: 1.3rem;
        margin-top: 1.5rem;
        padding-right: 3px;

        align-self: flex-end;

        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }


    // Featured Projects
    .section-heading {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        margin: 2rem 0;
        
        opacity: 0; // prepare for scroll fade in


        &::after {
            content: "";
            display: block;
            height: 1px;
            background: $medium-text-color;
            margin-left: 20px;

            // to make line take up all the remaining space
            flex-grow: 1; 
        }
    }

    // names of Projects
    h3 {
        font-size: 1.6rem;
        color: $light-text-color;
    }

    // =====================================
    // About Section
    // =====================================
    
    
    // =====================================
    // Featured Projects Section
    // =====================================
    .featured-projects {
        // background: midnightblue;
    }

    .featured-project {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // gap: 10px;
        margin-bottom: 4rem;

        opacity: 0; // prepare for scroll fade in
    }

    img {
        width: 100%;
        border-radius: $border-radius;
    }

    .side-project-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end; // move stuff to right side

        color: $medium-text-color;
        text-align: right;

        
    }

    .side-project-info-flipped {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start; // move stuff to left side

        color: $medium-text-color;
        text-align: left;
    }

    .project-details {
        background: #222;
        border-radius: $border-radius;
        padding: 20px;

        width: 110%;
        z-index: 1; // place it on top of project image
    }

    .tech-list {
        font-family: $mono-font;
        font-size: 0.9rem;
    }

    .tech {
        display: inline-block;
        padding: 0 10px;
    }

    .github-link path {
        fill: white;
    }

    .demo-link {
        // hacky as hell but I don't know how to style SVG's yet
        transform: scale(0.6);
        margin-top: -5px;
    }

    .icon-links {
        display: flex;
        align-items: center;
    }

    svg {
        width: 40px;
    }
}

// ====== Mobile ======
@media only screen and (max-width: $mobile-width) {
    .home {
        .featured-project {
            grid-template-columns: 1fr; // stack on top of each other
        }

        .side-project-info, .side-project-info-flipped {
            height: 25vh; // spread it out a bit
        }
    
        .side-project-info-flipped {
            // move the info below the image.
            // should have left the HTML unflipped and 
            // just added this to original class above
            order: 1; 
        }
    }

} 