
.home {
    width: $inner-wrapper-width;
    max-width: 800px;
    margin: 0 auto;


    .hero {
        height: 100vh;
        // border: 1px solid #222;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hi {
        font-family: 'Fira Code', monospace;
        color: $green-color;
        font-size: 1.2rem;
        padding-left: 4px;

        border-left: 1px solid $border-color;
        border-top: 1px solid $border-color;
        align-self: flex-start;

        @include fade-in-delay($delay-hi);
    }

    .name {
        visibility: hidden;
        // fluid size scales with window width but stays within 20-80px
        font-size: clamp(20px, 8vw, 80px);

        font-family: Calibre, sans-serif;
        font-weight: 500;
        // font-weight: light;

        align-self: center;
        position: relative;
        margin-top: 2.6rem;
        

        // &::before {
        //     content: "Quentin McKay";
        //     position: absolute;
        //     top: -$color-spread;
        //     left: -$color-spread;
        //     color: $green-color;
        //     z-index: -1;
        // }

        // &::after {
        //     content: "Quentin McKay";
        //     position: absolute;
        //     bottom: -$color-spread;
        //     right: -$color-spread;
        //     color: $red-color;
        //     z-index: -2;
        // }
    }

    .under-name {
        color: $red-color;
        font-family: 'Fira Code', monospace;
        font-size: 1.3rem;
        margin-top: 4rem;
        padding-right: 3px;

        align-self: flex-end;

        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;

        @include fade-in-delay($delay-undername);
    }
    

    // h2's
    .section-heading {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        margin: 2rem 0;

        font-size: 3rem;
        
        opacity: 0; // prepare for scroll fade in


        &::after {
            content: "";
            display: block;
            height: 1px;
            background: $medium-text-color;
            margin-left: 20px;

            // to make line take up all the remaining space
            flex-grow: 1; 
        }
    }

    // names of Projects
    h3 {
        font-size: 1.6rem;
        color: $light-text-color;
    }







    // =====================================
    // About Section
    // =====================================
    .about {
        p {
            color: $medium-text-color;
            font-size: 1.2rem;

            margin-bottom: 1rem;
        }

        span {
            color: $red-color;
            padding: 2px;

            &.about-name {
                color: $green-color;
                padding: 0;
            }

            &.web-tech {
                color: $green-color;
            }
        }

        &__content {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 40px;

            opacity: 0;
        }

        &__image-wrapper {
            // background: teal;
            
            // quick centering
            display: grid;
            place-items: center;
        }

        img {
            width: 100%;
            // clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 20%);

            border-top: 1px solid $green-color;
            border-left: 1px solid $green-color;
            border-bottom: 1px solid $red-color;
            border-right: 1px solid $red-color;
        }

        .resume {
            display: inline-block;
            color: $green-color;
            // border-bottom: 1px solid $green-color;
            // padding-left: 5px;
            padding-bottom: 0;
            // border-radius: 4px;
        }
    }
    






    // =====================================
    // Featured Projects Section
    // =====================================
    .featured-projects {
        padding-top: 6rem;
        // background: midnightblue;
        opacity: 1; // for nothing, just to stop scss watcher from complaining
    }

    .featured-project {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // gap: 10px;
        margin-bottom: 6rem;

        min-height: 200px;

        opacity: 0; // prepare for scroll fade
    }

    img {
        width: 100%;
        border-radius: $border-radius;
    }

    .side-project-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end; // move stuff to right side

        color: $medium-text-color;
        text-align: right;
    }

    .side-project-info-flipped {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start; // move stuff to left side

        color: $medium-text-color;
        text-align: left;
    }

    .project-details {
        background: #222;
        border-radius: $border-radius;
        padding: 20px;

        width: 110%;
        z-index: 1; // place it on top of project image
    }

    .tech-list {
        font-family: $mono-font;
        font-size: 0.9rem;
    }

    .tech {
        display: inline-block;
        padding: 5px 10px;
    }

    .github-link {
        transition: all $svg-transition-time;

        &:hover {
            transform: scale(1.2);
            fill: $green-color;

            path {
                fill: $green-color;
            }
        }
    }

    .github-link path {
        fill: white;
    }

    .demo-link {
        // hacky as hell but I don't know how to style SVG's yet
        transform: scale(0.6);
        margin-top: -5px;

        transition: all $svg-transition-time;

        &:hover {
            transform: scale(0.8);  // scale up slightly from 0.6
            fill: $green-color;

            path {
                stroke: $green-color;
            }
        }
    }

    
    .icon-links {
        display: flex;
        align-items: center;
    }

    svg {
        width: 40px;
    }





    // =====================================
    // Contact Form
    // =====================================

    .contact {
        margin: 8rem 0;

        form {
            margin: 0 3rem;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;

            font-family: Calibre;

            input, textarea{
                display: block;
                background: #333;
                color: $medium-text-color;

                font-family: Nunito, sans-serif;
                font-size: 16px;

                padding: 16px;
                outline: none;
                border: none;
                border-left: 1px solid $green-color;
                
                position: relative;
                
                // nice trick to remove placeholder text on focus
                &:focus::placeholder {
                    color: transparent;
                }
                
                &::after {
                    // content: "asdf";
                    // position: absolute;
                    // bottom: 0;
                    // left: 0;
                    // width: 100%;
                    // height: 1px;
                    // background: $green-color;
                }
            }
            
            .subject {
                grid-column: 1 / 3;
            }
            
            .message {
                grid-column: 1 / 3;
            }
            
            .submit {
                color: $green-color;
                background: $bg-color;;

                border: 1px solid $green-color;
                border-radius: 3px;
                
                margin-top: 20px;
                padding: 10px 20px;

                // place in bottom right corner
                grid-column: 2 / 3;
                justify-self: end;

                &:hover {
                    transition: all 0.3s;
                    background: rgba($green-color, 0.05);
                    cursor: pointer;
                }
            }
        }
    }
}














// ====== Mobile ======
@media only screen and (max-width: $mobile-width) {
    .home {

        .about {
            &__content {
                // grid-template-columns: 1fr;
                display: block;
            }

            img {
                margin-top: 30px;
                width: 60%;
            }
        }



        .featured-projects {
            padding-top: 1rem;
        }
        
        .featured-project {
            grid-template-columns: 1fr; // stack on top of each other
        }

        .side-project-info, .side-project-info-flipped {
            height: 25vh; // spread it out a bit
        }
    
        .side-project-info-flipped {
            // move the info below the image.
            // should have left the HTML unflipped and 
            // just added this to original class above
            order: 1; 
        }

        .project-details {
            width: 100%; // no overlap into picture needed
        }


        


        
    }
} 