// ====== Import Partials ======
@import 'config';
@import url(/dist/font/stylesheet.css); // bring in downloaded
@import 'header';
@import 'home';
@import 'project';
@import 'blog';
@import 'blog-single';

// ====== availabe fonts ======
// neurial_groteskregular
// neurial_grotesklight
// neurial_groteskmedium
// neurial_groteskbold
// neurial_groteskextrabold



// ====== Reset ======
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// site wide styles
body {
    background: $bg-color;
    color: $light-text-color;
    // font-family: sans-serif;

    font-family: 'neurial_groteskregular';
    font-family: Calibre;

    font-size: 1.1rem;
    line-height: 1.3;

    // ====== scrollbar styles ======
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: $bg-color;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #888;
        border: 3px solid $bg-color;
        border-radius: 10px;
    }
}

a {
    color: $light-text-color;
    text-decoration: none;
}


.blur-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: all 0.25s; // for blur effecct
}

.blur {
    backdrop-filter: blur(4px);
}

.icons {
    position: fixed;
    left: 40px;
    bottom: 0;
    width: 10px;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;

    path {
        fill: white;
    }

    a {
        display: inline-block; // so can apply margin and padding
        padding: 12px;
    }

    // padding didn't work on svg (not sure why)
    svg {
        transform: scale(1.2);
        transition: all 0.25s;

        &:hover {
            transform: scale(1.7);
            fill: $green-color;
        }
        

        // fill-opacity: 0;
        // stroke: white;
    }

    &::after {
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        background: white;
        margin-top: 10px;
    }
}

.email-right {
    position: fixed;
    bottom: 0;
    right: 40px;
    z-index: 10;

    writing-mode: vertical-lr;
    font-size: 0.9rem;
    letter-spacing: 2px;

    display: flex;
    align-items: center;

    a {
        transition: all 0.25s;

        &:hover {
            transform: scale(1.06);
        }
    }

    // line under email
    &::after {
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        background: white;
        margin-top: 24px;
    }
}



// ====== Media Queries ======
@media only screen and (max-width: $mobile-width) {
    .email-right {
        display: none;
    }

    // put icons at bottom center of page
    .icons {
        background: blue;
        position: static; // return to normal html defined flow
        width: 100%;
        padding: 10px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 20px;

        &::after {
            display: none;
        }


    }
}