// ====== Import Partials ======

// I think we're supposed to use @use nowadays
// but I haven't looked into it yet

@import 'config';
@import url(/dist/font/stylesheet.css); // bring in downloaded
@import 'header';
@import 'home';
@import 'projects';
@import 'project';
@import 'blog';
@import 'blog-single';

// ====== availabe fonts ======
// neurial_groteskregular
// neurial_grotesklight
// neurial_groteskmedium
// neurial_groteskbold
// neurial_groteskextrabold



// ====== Reset ======
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    // scroll-behavior: smooth; // smooth scroll to contact section
}

// site wide styles
body {
    z-index: 0;
    background: $bg-color;
    color: $light-text-color;
    // font-family: sans-serif;

    font-family: 'neurial_groteskregular';
    font-family: Calibre, sans-serif;

    font-size: 1.1rem;
    line-height: 1.3;
    letter-spacing: 0.3px;

    // ====== scrollbar styles ======
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: $bg-color;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #888;
        border: 3px solid $bg-color;
        border-radius: 10px;
    }
}

a {
    color: $light-text-color;
    text-decoration: none;
}



canvas {
    position: fixed;
    // top: -25px; // cheap fix for name position
    // transform: translateY(10px);
    z-index: -1;
    // display: none;
    // pointer-events: none;

    // @include fade-in-delay($delay-canvas);
    animation-duration: 10s; // override mixin above used for everything else
}



.blur-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: all 0.25s; // for blur effect

    pointer-events: none;

    z-index: 99;  // just under the header

    // fade opacity of blur layer to simulate animation of blur effect
    transition: backdrop-filter 0.8s;
    backdrop-filter: blur(4px) opacity(0);
}

.blur {
    backdrop-filter: blur(4px) opacity(1);
}


.icons {
    position: fixed;
    left: 40px;
    bottom: 0;
    width: 10px;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include fade-in-delay($delay-icons);

    path {
        fill: white;
    }

    a {
        display: inline-block; // so can apply margin and padding
        padding: 12px;
    }

    // padding didn't work on svg (not sure why)
    svg {
        transform: scale(1.2);
        // transition: all 0.25s;
        transition: all $svg-transition-time;

        &:hover {
            transform: scale(1.7);
            fill: $green-color;

            path {
                fill: $green-color;
            }
        }
        

        // fill-opacity: 0;
        // stroke: white;
    }

    path {
        transition: all 0.25s;
    }

    &::after {
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        background: white;
        margin-top: 10px;
    }
}

.email-right {
    position: fixed;
    bottom: 0;
    right: 40px;
    z-index: 10;

    writing-mode: vertical-lr;
    font-size: 0.9rem;
    letter-spacing: 2px;

    display: flex;
    align-items: center;

    @include fade-in-delay($delay-email);

    a {
        transition: all 0.25s;

        &:hover {
            transform: scale(1.06);
            color: $green-color;
        }
    }

    // line under email
    &::after {
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        background: white;
        margin-top: 24px;
    }

}



    
    


// ====== Media Queries ======
@media only screen and (max-width: $mobile-width) {
    .email-right {
        display: none;
    }

    // put icons at bottom center of page
    .icons {
        // background: blue;
        position: static; // return to normal html defined flow
        width: 100%;
        padding: 10px;
        margin-top: 4px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 20px;

        &::after {
            display: none;
        }


    }
}


